# Fifa World Cup Round 2 Predictions

### Basis of Predictions
At this stage I have not yet coded out my own model. I have temporarily used the existing model and results from the syllabus.
-  For these predictions I used the model provided in the 'A World Cup Model'.
-  I used the predicted outcomes to provide an indication of the final scoreline.
-  I used the outcome of 100 simulated games to determine the probabilities for each type of result per match
-  I then used my immense knowledge of the beautiful game to see if I agreed with the predictions and made some changes where I felt necessary

### Data Used

This was the historical Fifa match data provided. It used a lag factor of a teams' previous win-draw-lose results for the last 10, 20 and 50 matches.
Other features included were the Confederation Strength for each country.

### Models

The model used was a random forest regression, which was set to grow 500 trees.

### Model Results

The results could predict outcomes, but the variance of the goals was often greater than 1, indicating the volatile nature of the game of football.
This is an area where more focus could be applied to get more robust measures.


### Additional Info

- none yet

#### import library

In [1]:
import pandas as pd
import numpy as np

#### import data

In [ ]:
#Prediction outcome results provided by the train model
head_to_head = pd.read_csv('wc2018staticPredictions.csv')

In [3]:
#peek at the data
head_to_head

    team1 team2  outcome        sd
0     RUS   KSA    0.692  1.606591
1     RUS   EGY   -0.486  1.343802
2     RUS   URU    0.466  1.527365
3     RUS   POR   -1.266  1.258270
4     RUS   ESP   -2.086  1.970432
5     RUS   MAR    0.948  1.902970
6     RUS   IRN   -0.614  1.388886
7     RUS   FRA   -0.680  1.259206
8     RUS   AUS    0.988  1.687559
9     RUS   PER   -0.108  1.436780
10    RUS   DEN    0.310  1.791619
11    RUS   ARG    0.462  1.539011
12    RUS   ISL    0.106  1.683676
13    RUS   CRO   -0.528  1.373032
14    RUS   NGA   -0.370  1.308854
15    RUS   BRA   -1.582  1.530776
16    RUS   SUI   -1.088  1.297789
17    RUS   CRC    0.848  1.528691
18    RUS   SRB   -0.506  1.460809
19    RUS   GER   -2.366  2.150359
20    RUS   SWE   -0.252  1.942291
21    RUS   MEX    0.330  1.631288
22    RUS   KOR    0.950  1.612296
23    RUS   BEL   -2.036  2.042230
24    RUS   PAN    0.830  1.568789
25    RUS   TUN    0.160  1.778314
26    RUS   ENG   -1.324  1.426543
27    RUS   POL   -0.622  1.454344
28    RUS   SEN    0.258  1.473579
29    RUS   COL    0.230  1.490336
..    ...   ...      ...       ...
466   KOR   COL   -0.450  1.560609
467   KOR   JPN   -1.348  1.292631
468   BEL   PAN    1.792  1.953647
469   BEL   TUN    1.098  2.018018
470   BEL   ENG   -1.120  1.442775
471   BEL   POL   -0.624  1.681257
472   BEL   SEN    0.594  1.687947
473   BEL   COL    1.290  2.160995
474   BEL   JPN    0.956  2.007502
475   PAN   TUN   -0.770  1.416016
476   PAN   ENG   -2.030  1.846375
477   PAN   POL   -1.704  1.889017
478   PAN   SEN   -0.440  1.300154
479   PAN   COL   -0.316  1.350609
480   PAN   JPN   -1.210  1.649818
481   TUN   ENG   -1.982  1.824740
482   TUN   POL   -1.250  2.038504
483   TUN   SEN   -0.222  1.752916
484   TUN   COL    0.072  1.548811
485   TUN   JPN   -0.908  1.770744
486   ENG   POL   -0.058  1.426407
487   ENG   SEN    0.618  1.356494
488   ENG   COL    0.910  1.600594
489   ENG   JPN    1.028  1.662292
490   POL   SEN    0.322  1.355845
491   POL   COL    0.590  1.428951
492   POL   JPN    0.600  1.479189
493   SEN   COL    0.486  1.561347
494   SEN   JPN    0.122  1.405388
495   COL   JPN   -0.596  1.438327

[496 rows x 4 columns]

In [4]:
set(head_to_head['team1'])

{'ARG',
 'AUS',
 'BEL',
 'BRA',
 'COL',
 'CRC',
 'CRO',
 'DEN',
 'EGY',
 'ENG',
 'ESP',
 'FRA',
 'GER',
 'IRN',
 'ISL',
 'KOR',
 'KSA',
 'MAR',
 'MEX',
 'NGA',
 'PAN',
 'PER',
 'POL',
 'POR',
 'RUS',
 'SEN',
 'SRB',
 'SUI',
 'SWE',
 'TUN',
 'URU'}

### Use the modeled parameters to do predictions

#### Colombia vs Japan

In [5]:
t1 = head_to_head[(head_to_head['team1'] == 'COL') & (head_to_head['team2'] == 'JPN')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('COL won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('JPN won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

    team1 team2  outcome        sd
495   COL   JPN   -0.596  1.438327


COL won 17 out of 100.
JPN won 60 out of 100.
There were 23 draws.

##### Poland vs Senegal

In [6]:
t1 = head_to_head[(head_to_head['team1'] == 'POL') & (head_to_head['team2'] == 'SEN')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('POL won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('SEN won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

    team1 team2  outcome        sd
490   POL   SEN    0.322  1.355845


POL won 37 out of 100.
SEN won 35 out of 100.
There were 28 draws.

#### Russia vs Egypt

In [7]:
t1 = head_to_head[(head_to_head['team1'] == 'RUS') & (head_to_head['team2'] == 'EGY')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('RUS won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('EGY won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

  team1 team2  outcome        sd
1   RUS   EGY   -0.486  1.343802


RUS won 17 out of 100.
EGY won 56 out of 100.
There were 27 draws.

#### Portugal vs Morocco

In [8]:
t1 = head_to_head[(head_to_head['team1'] == 'POR') & (head_to_head['team2'] == 'MAR')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('POR won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('MAR won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

    team1 team2  outcome        sd
119   POR   MAR    1.176  1.659224


POR won 63 out of 100.
MAR won 20 out of 100.
There were 17 draws.

#### Uruguay vs Saudi Arabia

In [13]:
t1 = head_to_head[(head_to_head['team1'] == 'KSA') & (head_to_head['team2'] == 'URU')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('KSA won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('URU won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

   team1 team2  outcome        sd
32   KSA   URU    0.552  1.607264


KSA won 44 out of 100.
URU won 34 out of 100.
There were 22 draws.

#### Iran vs Spain

In [15]:
t1 = head_to_head[(head_to_head['team1'] == 'ESP') & (head_to_head['team2'] == 'IRN')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('ESP won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('IRN won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

    team1 team2  outcome        sd
146   ESP   IRN     0.35  1.368028


ESP won 37 out of 100.
IRN won 35 out of 100.
There were 28 draws.

#### Denmark vs Australia

In [17]:
t1 = head_to_head[(head_to_head['team1'] == 'AUS') & (head_to_head['team2'] == 'DEN')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('AUS won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('DEN won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

    team1 team2  outcome        sd
244   AUS   DEN   -0.482  1.875547


AUS won 20 out of 100.
DEN won 56 out of 100.
There were 24 draws.

#### France vs Peru

In [18]:
t1 = head_to_head[(head_to_head['team1'] == 'FRA') & (head_to_head['team2'] == 'PER')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('FRA won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('PER won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

    team1 team2  outcome       sd
221   FRA   PER    0.152  1.14232


FRA won 26 out of 100.
PER won 36 out of 100.
There were 38 draws.

#### Argentina vs Croatia

In [19]:
t1 = head_to_head[(head_to_head['team1'] == 'ARG') & (head_to_head['team2'] == 'CRO')]
print(t1)
print('\n')

np.random.seed(4342)
draw_threshold = 0.5

t2 = np.random.normal(loc=t1['outcome'],scale=t1['sd'],size=100)

print('ARG won {} out of 100.'.format(sum(t2>=draw_threshold)))
print('CRO won {} out of 100.'.format(sum(t2<=-draw_threshold)))
print('There were {} draws.'.format(sum((t2>-draw_threshold) & (t2<draw_threshold))))

    team1 team2  outcome        sd
307   ARG   CRO   -1.052  1.739338


ARG won 13 out of 100.
CRO won 74 out of 100.
There were 13 draws.